name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: "--deny warnings"
  RUSTFLAGS: "--deny warnings"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain: ["nightly", "stable"]
        target:
          [
            "x86_64-unknown-linux-gnu",
            "x86_64-pc-windows-msvc",
            "i686-pc-windows-msvc",
            "x86_64-apple-darwin",
            "x86_64-pc-windows-gnu",
          ]
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
          - target: i686-pc-windows-msvc
            os: windows-latest
          - target: x86_64-pc-windows-gnu
            os: windows-latest
          - target: x86_64-apple-darwin
            os: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install latest ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@v1
        with:
          target: ${{ matrix.target }}
          toolchain: ${{ matrix.toolchain }}

      - name: Build
        run: |
          cargo build --release --target ${{ matrix.target }}

      - name: Test
        run: |
          cargo test --target ${{ matrix.target }} --all-targets --no-fail-fast

  documentation:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustdoc

      - name: Generate documentation
        run: cargo doc --all-features

  clippy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install msrv
        uses: dtolnay/rust-toolchain@1.85.0
        with:
          components: clippy

      - name: Clippy check
        run: |
          cargo clippy --all-features

  fmt:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Format check
        run: |
          cargo fmt --all -- --check

  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install msrv
        uses: dtolnay/rust-toolchain@1.85.0

      - name: Check MSRV
        run: cargo check
